@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?b2ntlo');
	src:url('../fonts/icomoon.eot?#iefixb2ntlo') format('embedded-opentype'),
		url('../fonts/icomoon.woff?b2ntlo') format('woff'),
		url('../fonts/icomoon.ttf?b2ntlo') format('truetype'),
		url('../fonts/icomoon.svg?b2ntlo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-abajo:before {
	content: "\e600";
}

.icon-grafica:before {
	content: "\e601";
}

.icon-home:before {
	content: "\e602";
}

.icon-mail:before {
	content: "\e603";
}

.icon-navicon:before {
	content: "\e604";
}

.icon-notificacion:before {
	content: "\e605";
}

.icon-paginas:before {
	content: "\e606";
}

.icon-search:before {
	content: "\e607";
}

