.container-input {
  display: block;
  width: 100%;

  .label {
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 15px;
    color: $f-color-claro;
    pointer-events: none;
    z-index: 1;

    transform: translate3d(0px, 42px, 0px) scale(1);
    transform-origin: left top 0px;
    transition: transform 0.25s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;

    -webkit-transform: translate3d(0px, 42px, 0px) scale(1);;
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    -webkit-transform-origin: left top 0px;
  }

  .label-focus {
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: lighten(#4E9A4D, 15%);
    transform: translate3d(0, 30px, 0px) scale(0.7);
    -webkit-transform: translate3d(0, 30px, 0px) scale(0.7);
  }


  .input {
    margin: 0;
    padding: 15px;
    padding-top: 20px;
    display: block;
    width: 100%;

    font-family: $fp-family;
    font-size: 15px;
    font-weight: $regular-weight;
    color: $f-color-oscuro;

    border: 1.5px solid $input-border-color;
    border-radius: $input-border-radius;
    transition: $link-anim;

  }

  .input-focus {
    border: 1.5px solid $input-border-color-focus;
  }

  .error {
    font-size: 13px;
    color: #ED7F69;
  }

  .textarea {
    display: block;
  }

}

textarea {
  resize: vertical;
  min-height: 50px;
}

.myfileupload-buttonbar input
{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0.0;
  filter: alpha(opacity=0);
  -o-transform: translate(250px, -50px) scale(1);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
.myui-button
{
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: visible;
  overflow: hidden;
  color: white;
}

.input-file input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0.0;
    filter: alpha(opacity=0);
    -o-transform: translate(250px, -50px) scale(1);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
}

/*
.input-file::-webkit-file-upload-button {
  visibility: hidden;
}
.input-file::before {
  content: 'Cambiar Imágen';
  display: inline-block;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  @extend .btn-primario;
  @extend .btn-big;
}

.input-file::after {
  content: '';
}
*/
