.container-editar-producto {
  padding-bottom: 20px !important;
}

.contenedor-botones-edicion {
  margin-top: 20px;
  > * {
    margin-right: 10px;
  }
}

.contenedor-visor-imagen {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  padding: 20px;
  border: 1.5px solid $input-border-color-focus;
  border-radius: $input-border-radius;

  .imagen-producto-editar {
    width: 100%;
    height: auto;
  }
}