// Contenedor Mensajes
// -------------------------
#wrapper-mensajes {
 width: auto;
  height: 100%;
  overflow: hidden;
  > * {
    float: left;
    margin: 0;
    padding: 0;
  }
}



// Lista Mensajes
// -------------------------
#wrapper-lista-mensajes {
    width: 300px;
    height: 100%;
    background: #F2F2F2;
    border-right: $nb-line-bottom;
}

#lista-mensajes {
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  display: block;

  padding: 0;
  margin: 0;

  .mensaje {
    display: block;
    height: 100px;
    width: 100%;
    padding-right: 0 !important;
    border-bottom: $msj-line;

  }

  .mensaje:hover
  {
    background: #FAFAFA;
  }

  .mensaje-activo {
    background: $btn-pri-bg;
    * {
      color: white !important;
    }
    &:hover {
      background: $btn-pri-bg;
    }
  }


  .indicador-mensaje-nuevo {
    display: block;
    float: left;
    height: 100px;
    width: 2%;
    background: $msj-indicador-nuevo-color;
  }

  .info-mensaje {
    width: 98%;
    height: 20px;
    float: left;
    padding: 20px 20px 0px 20px;

    .titulo-msj {
      width: 100%;
    }

    .nombre {
      margin: 0;
      float:left;
      color: $msj-info-nombre-f-color;
      font-size: 16px;
    }

    .fecha {
      margin: 0;
      float: right;
      font-size: 13px;
      color: lighten($msj-info-nombre-f-color, 20%);
    }

    .contenido-mensaje {
      color: lighten($msj-info-nombre-f-color, 10%);
      font-size: 12px;
    }


    }

}





// Contenido Mensajes
// -------------------------
#wrapper-contenido-mensaje {
    width: inherit;
    height: 100%;
    background: white;
    overflow-y: scroll;

    .error-mensaje {
        margin-top: 300px;
        text-align: center;
        font-weight: $msj-error-f-weight;
        color: $msj-error-f-color;
        font-size: 30px;
    }

    .contenedor-view-mensaje
    {
      padding: 60px;
      display: none;
    }

    .head-mensaje {
      width: 100%;
      > * {
        width: auto;
        float: left;
      }
      .contenedor-opciones-mensaje {
        float: right;
        padding-bottom: 40px;
      }

      .contenedor-titulo {
        .titulo-mensaje {
          margin: 0;
          margin-bottom: 10px;
        }
        p, a {
          margin-top: 5px;
          margin-bottom: 5px;
          color: #888;
          font-size: 12px;
        }
        a {
          color: $link-color;
          font-size: 14px;
          margin-bottom: 10px;
        }

      }

    }

    .line-mensaje {
      width: 100%;
      display: block;
      height: 1px;
      background: #ccc;
      margin-bottom: 30px;
    }

  .cuerpo-mensaje {
    line-height: 1.5em;
  }

}

