<section id="navbar-admin" class="clearfix">
    <nav class="nav nav-izq">
        <ul class="clearfix">
            <li>
                <a href="#" id="boton-ampliar" class="icon-navicon"></a>
            </li>

        </ul>
    </nav>

    <nav class="nav nav-der">
        <ul class="clearfix">
            <li>
                <a id="boton-perfil" class=clearfix" href="#">
                    <p>Nombre</p>
                    <i class="icon-abajo"></i>
                </a>
            </li>
        </ul>

    </nav>

    <div id="perfil-ampliado">
        <ul>
            <li>
                <a href="#">Ajustes</a>
            </li>
            <li>
                <a href="/auth/logout">Salir</a>
            </li>
        </ul>
    </div>

</section>