
<section id="sidebar-admin" class="sb-init">

    <div class="sb-seccion-logo">
        <a href="#">
            <img class="logo" src="http://localhost:8888/public/img/logo-blanco.svg">
            <img class="logo-collapsed" src="http://localhost:8888/public/img/logo-blanco-collapsed.svg">


        </a>
    </div>

    <nav class="sb-menu">
        <ul>

            <li><a href="#">
                <i class="icon-home"></i><span class="nombre-seccion">Escritorio</span>
                </a></li>

            <li><a href="#">
                <i class="icon-paginas"></i><span class="nombre-seccion">Páginas</span>
                </a></li>

            <li><a href="#">
                <i class="icon-mail"></i><span class="nombre-seccion">Mensajes</span>
                </a></li>

            <li><a href="#">
                <i class="icon-grafica"></i><span class="nombre-seccion">Analíticas</span>
                </a></li>

            <li><a href="#">
                <i class="icon-paginas"></i><span class="nombre-seccion">Productos</span>
                </a></li>


        </ul>
    </nav>

</section>